:root {
    --ff-accent: 'Knewave', cursive;
    --ff-main: 'Lato', sans-serif;
    --violet: rgb(178, 8, 245);
}

body {
    font-family: var(--ff-main);
    background-image: url(/Users/casvalkyriespicer/Documents/GitHub/countdown-timer/pics/balloons.jpeg);
    /*background-color: rgb(199, 241, 247);
    background-blend-mode: multiply;
    opacity: .8;*/
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

.timer__header {
    background-color: white;
    padding: 1.5em;
    max-width: 33em;
    max-height: 25em;
    border-radius: 7px;
}

h1 {
    font-family: var(--ff-accent);
  
    color: orangered;
    margin: 0 auto;
    font-size: 2rem;
}

.timer__body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--ff-main);
    color: var(--violet);
    font-size: 2rem;
    margin: 0 auto;
    
}

.timer__item {
    padding: .2em;
}

.modal {
    color: white;
    position: absolute;
}

.hidden {
    display: none;
}

.modal--background {
    position: relative;
    color: white;
    opacity: .8;
    max-width: 33em;
    max-height: 100vh;
}

.modal--background-inner {
    background: transparent linear-gradient(270deg, #FF713B 0%, #FF895D, #FFA51D 100%) 0% 0% no-repeat padding-box; 
    max-width: 33em;
    max-height: 25em;
    opacity: 1;

}