:root {
    --ff-accent: 'Knewave', cursive;
    --ff-main: 'Lato', sans-serif;
    --violet: rgb(178, 8, 245);
    --darkGrey: rgb(61, 60, 60);
    --neonGreen:rgb(10, 247, 2);
    --drkGreen: rgb(3, 146, 3);
}

body {
    font-family: var(--ff-main);
    background-image: url(./pics/balloons.jpeg);
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

.timer__header {
    background-color: white;
    padding: 1.5em;
    max-width: 33em;
    max-height: 25em;
    border-radius: 7px;
    margin-top: 10em;
}

.timer__header--title {
    margin-bottom: .5em;
}

h1 {
    font-family: var(--ff-accent);
    color: orangered;
    margin: 0 auto;
    font-size: 2rem;
    text-shadow: 2px 4px 4px rgba(245, 153, 78, 0.7)
}

.timer__body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--ff-main);
    color: var(--violet);
    font-size: 2rem;
    margin: 0 auto;
}

.timer__item {
    padding: .2em;
}

.modal {
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 241, 241, 0.7);
    
}

.hidden {
    display: none;
}

.p--fineprint {
    font-size: .75rem;
}

.modal--background {
    position: relative;
    top: 10em;
    background: transparent linear-gradient(270deg, #FF4500 0%, #FF6A32, #FF7C4C 100%) 0% 0% no-repeat padding-box; 
    max-width: 33em;
    max-height: 25em;
    opacity: 1;
    padding: .5em;
    border-radius: 7px;
}

.modal--background-violet {
    color: var(--violet);
}

.modal__close {
    font-size: 2rem;
    transform: rotate(45deg);
    position: relative;
    
    cursor: pointer;
    float: left;
}

button {
    background-color: white;
    border-radius: 7px;
    color: var(--darkGrey);
    font-family: inherit;
    cursor: pointer;
}
input {
    text-align: center;
    font-family: inherit;
    border-radius: 7px;
    margin-bottom: 1.5em;
}

/*MEDIA QUERY*/

@media (min-width: 700px) {
    .container {
        margin: 0 auto;
    }
    .timer__header {
        max-width: 50em;
        max-height: 30em;
        margin: 10em 25em 0 25em;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
    }

    .timer__body {
        font-size: 3rem;
    }

    .modal--background {
        margin: 2.5em 25em 0 25em;
        max-width: 50em;
        max-height: 30em;
    }
}